cache/
Logs/
.vscode/
bin/backup/
.gitignore
bin/rgcmd2
modules/include/Addons/backup/
modules/include/Addons/defined/backup/
*backup/
*/backup/
*old/
*/old/
old/
modules/include/Addons/other/
.qwen/settings.json
.qwen/settings.json.orig
.qwen/
vendor/*
# !vendor/src/
# !vendor/include/
vendor/include/*
!vendor/include/stb
!vendor/src/freetype
!vendor/src/glfw
vendor/.venv/